#
# This file defines code owners for different paths in the repository.
# You can customize this file to match your project's structure.
#
# Code owners are used to request review of pull requests in the repository.
#

#
# Default owners for all files
# This should be changed in each repos
#
#*                    @etn-utilities/smp-code-owners-apps    @etn-utilities/smp-code-owners-eg    @etn-utilities/smp-code-owners-platforms
*                     @etn-utilities/smp-code-owners-platforms

#
# Code owners for system files
#
.github/CODEOWNERS    @etn-utilities/smp-admins
.github/settings.yml  @etn-utilities/smp-admins

##########################
# Examples
##########################
# You can also specify owners for specific directories.
# /docs/  @etn-utilities/doc-team

# You can specify owners for specific file types.
# *.py    @etn-utilities/python-team

##########################
# Add customs rules below
##########################
