#
# By default text files won't be converted to CRLF on windows
#
*	text=auto eol=lf

#
# Insert below specific files for which you want to override the rules
# (you can create .gitattributes files in sub directories)
# Example:
#
#  MyCRLFFile.txt text eol=crlf
#
